/* -------------
     RESET
---------------- */

*{

    box-sizing: border-box;
    padding: 5px;
    margin: -2px;
}



/* ------------
    GENERAL 
---------------*/

.container{

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.container-hero{

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

.img-fluid{
    max-width: 100%;
}


/* -------------
   IMAGES
---------------- */

img{
    
    max-width: 10%;
    max-height: 10%;
}

.col img {
    
    max-width: 100%;
    max-height: 100%;
}

/* -------------
    HEADER
---------------- */

.header{

    display:flex;
    padding: 10px;
    min-width: 100%;
    color: #ff6900;
    
}

.container .logo{

    display: flex;
    padding: 10px;
    min-height: 50px;
    align-items: flex-start;

}

    
    .container > .logo {
    
        display: flex;  
        align-items:center;
    
    }
    
    .container .logo,
    .container .main-nav{
    
        padding: 2px;
        text-align: center;
    }
    
    
    .container .logo .container .main-nav{
    
        width: 20%;
    }
    
    .container .logo .container .main-nav{
        
        text-align: center;
    }
    
    
    .main-nav ul{
    
        list-style:none;
        display: flex;
        justify-content:center;
        gap: 70px;
    }
    
    .main-nav ul a{
    
        text-decoration: none;
        color: inherit;
        justify-content: center;
    }
    
    .main-nav{
        color: #ffff;
        width: 50%;
        text-align: center;
    }
    
    .container .logo{
    
        justify-content: center;
        padding: 10px;
        
    }

    .logo{

        justify-content: center;
        align-items: center;
    }
    

    .container{

        background-color:#ff6900;
        padding: 5px;
        min-height: 10px;
        max-width: 100%;
        gap: 50px;
      
     
     }

/* --------------
      MAIN 
------------------*/

.row {

    margin-bottom: 40px;
    display:flex;
    gap:15px;

}

.col {
    
    
    width: calc(100% / 3);
    position: relative;

    
}

.discount{

    background-color: red;
    position:absolute;
    bottom:0px;
    left:0;

}

.sostenibilità{

    background-color: #008000;
    color: white;
    position: absolute;
    border-radius:0px;
    bottom:0;
    left:0;
    
}

